* {
font-family: system-ui, -apple
system, BlinkMacSystemFont, "Segoe UI", sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
background: #e2e8f0;
 color: #1f2937;
}      
.fa {
padding: 10px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}
header {
background-image: url(/monlau.jpg);
background-size: cover;
background-position: 20% 53%;
zoom: 130%;
color: #f1f5f9;
text-align: center;
padding: 140px 16px;
position: relative;
z-index: 1;
border-bottom: 4px solid #f59e0b; ;
}
header h1 {
font-size: 32px;
margin-bottom: 5px;
}
header p {
opacity: 0.9;
}
 
main {
text-align: center;
padding: 40px 16px;
background: #e2e8f0;
}
.cards {
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
}
.card {
background: rgb(241, 240, 240);
width: 380px;
border-radius: 12px;
padding: 19px 24px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
text-decoration: none;
color: inherit;
transition: transform 0.15s ease, boxshadow 0.15s ease, border 0.15s ease
}
.card:hover {
transform: translateY(-3px);
box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
border: 2px solid #efe8f0;
}
.card h2 {
font-size: 16px;
color: #1e3a8a;
}
.card p {
font-size: 14px;
}
.card span.emoji {
font-size: 30px;
display: block;
margin-bottom: 6px;
}
.foto-perfil {
width: 120px;
height: 120px;
border-radius: 50%;
border: 4px solid #f59e0b;
background: #e2e8f0;
overflow: hidden;
margin: -60px auto 32px;
position: relative;
z-index: 10;
}
.foto-perfil img {
width: 100%;
height: 100%;
object-fit: cover;
}
footer {
text-align: center;
font-size: 13px;
padding: 16px;
background: #1e293b;
color: #f1f5f9;
margin-top: 50px;
}
footer a {
color: #fbbf24;
text-decoration: none;
}
footer a:hover {
text-decoration: underline;
}
 